<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MARContext" connectionString="data source=USER-PC\SQLEXPRESS2008;initial catalog=DATA029;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SOAPEndPoint" />
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://lotteryvip-desarrollo.azurewebsites.net/LotteryAuthService.svc"
        binding="basicHttpBinding" bindingConfiguration="SOAPEndPoint"
        contract="WSLotteryVIP.ILotteryAuthService" name="SOAPEndPoint" />
      <endpoint address="http://23.21.194.70:9191/Service.asmx" binding="basicHttpBinding"
        bindingConfiguration="ServiceSoap" contract="UnionTelecard.ServiceSoap"
        name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>