<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PtoVtaSoap" />
                <binding name="mar_flujoSoap" />
                <binding name="mar_haciendaSoap" />
                <binding name="JuegaMasSoap" />
                <binding name="mar_bingoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MarVentasService/mar-ptovta.asmx"
                binding="basicHttpBinding" bindingConfiguration="PtoVtaSoap"
                contract="MarPuntoVentaServiceReference.PtoVtaSoap" name="PtoVtaSoap" />
            <endpoint address="http://localhost/EfectivoService/mar-flujo.asmx"
                binding="basicHttpBinding" bindingConfiguration="mar_flujoSoap"
                contract="FlujoService.mar_flujoSoap" name="mar_flujoSoap" />
            <endpoint address="http://pruebasmar.ddns.net/mar-svr5/mar-hacienda.asmx"
                binding="basicHttpBinding" bindingConfiguration="mar_haciendaSoap"
                contract="HaciendaService.mar_haciendaSoap" name="mar_haciendaSoap" />
            <endpoint address="http://pruebasmar.ddns.net/Mar-Svr5/mar-juegamas.asmx"
                binding="basicHttpBinding" bindingConfiguration="JuegaMasSoap"
                contract="JuegaMasService.JuegaMasSoap" name="JuegaMasSoap" />
            <endpoint address="http://pruebasmar.ddns.net/Mar-Svr5/mar-bingo.asmx"
                binding="basicHttpBinding" bindingConfiguration="mar_bingoSoap"
                contract="BingoService.mar_bingoSoap" name="mar_bingoSoap" />
        </client>
    </system.serviceModel>
</configuration>